.registerBox{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #080808;
}

.regCont{
  background-color: white;
  border-radius: 2rem;
  padding: 2rem 4rem;
  max-width: 500px;
}
.formReg{
  display: flex;
  flex-direction: column;
}
.inputboxR{
  flex: 1;
  min-width: 40%;
  margin: 10px 0;
  padding: 10px;
}

.Agreement{
  font-size: 0.8rem;
}

.regBtn{
  border: none;
  padding: 15px 20px;
  font-size: 1rem;
  background-color: #0365f8;
  color: white;
  margin-bottom: 10px;
}